<!DOCTYPE html>
<html ng-app="bcpApp">
<head>
    <title>BoulderCODE+ test app</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="css/bcp.css"/>
</head>
<body ng-controller="MainCtrl">
    <div ng-repeat="activity in activities">
      <bcp-plus activity="activity"></bcp-plus>
    </div>
    <div class="well">
        <h4>Add Activity</h4>

        <form class="form-inline" role="form" novalidate ng-submit="addActivity()">
            <div class="form-group">
                <input type="text" class="form-control" ng-model="newActivity.title" placeholder="Title">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" ng-model="newActivity.details" placeholder="Details">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" ng-model="newActivity.meet_time" placeholder="When to meet">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" ng-model="newActivity.meet_place" placeholder="Where to meet">
            </div>

            <button type="submit" class="btn btn-default">Add</button>
        </form>
    </div>

    <script src="libs/jquery.min.js"></script>
    <script src="libs/bootstrap.min.js"></script>
    <script src="libs/sugar.custom.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
    <script src="https://cdn.firebase.com/v0/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.6.0/angularfire.js"></script>


    <script src="js/app.js"></script>
    <!-- directives -->

</body>
</html>
