<div class="panel panel-primary">
  <div class="panel-heading" ng-click="collapse()">{{item.name}}</div>
  <div class="panel-body" ng-hide="collapsed">
    <address></address>
    <h4>Friends:</h4>
    <ul>
      <li ng-repeat='friend in user.friends'>
        {{friend}}
        <span></span>
      </li>
    </ul>
    <div ng-show="!!user.rank">
      Rank: {{user.rank}}
    </div>
    <button ng-show="!user.rank" class="btn btn-success" ng-click="knightMe(user)">Knight Me</button>
  </div>
</div>



<div class="panel panel-default" ng-repeat="(id, item) in items">
  <!-- Default panel contents -->
  <div class="panel-heading"><input type="text" ng-model="item.activity" ng-blur="updateItem(id)"/></div>
  <div class="panel-body">
    <h4>Description, meeting time & place</h4>
    <p><input type="text" ng-model="item.meeting_time_place" ng-blur="updateItem(id)"/></p>
  </div>

  <!-- Table -->
  <table class="table">
    <tr>
        <td><input type="text" ng-model="item.count" ng-blur="updateItem(id)"/></td>
        <td>
            <a href="#" ng-click="removeItem(id)" class="navbar-link">Remove</a>
        </td>
    </tr>
  </table>
</div>
